asgiref==3.2.10
Authlib==0.14.3
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
crypto-cookie==0.3.1
cryptography==2.9.2
Django==3.0.8
idna==2.10
ndg-httpsclient==0.5.1
-e git+https://github.com/cedadev/ndg_saml.git@540186847ade854275bec4e2330ebef69a61050e#egg=ndg_saml
pyasn1==0.4.8
pycparser==2.20
pyOpenSSL==19.1.0
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
ua-parser==0.10.0
urllib3==1.25.9
user-agents==2.1