asgiref==3.2.3
Authlib==0.14.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
Django==3.0.3
idna==2.9
ndg-httpsclient==0.5.1
git+https://github.com/cedadev/ndg_saml.git@master#egg=ndg-saml
pyasn1==0.4.8
pycparser==2.19
pyOpenSSL==19.1.0
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8